<div id="header" ng-controller="UtilsCtrl">
    <h1>
        <a href="index-old.html" class="page-title">Mayajaw Kikafékoa</a>
    </h1>

    <h3 id="subtitle">Créé par Xatocoatl {{ quotes.randomQuote }}</h3>
</div>
<div class="entry-input-zone bordered">
    <div class="input-title">Cénote</div>
    <textarea rows="20" cols="80" id="cenote-input-text" class="textbox input-text" ng-model="inputs.cenote" ng-click="cleanInput('cenote')"></textarea>
    <div>
        <a href="#/cenote" class="btn input-button" id="process-cenote-input" ng-click="processCenoteInput()">Kikafékoa au cénote ? &gt;&gt;</a>
        <a class="input-button btn" id="load-cenote-data" ng-click="loadSampleData('cenote')">Charger les données de test</a>
    </div>
</div>
<div class="entry-input-zone bordered">
    <div class="input-title">Marché</div>
    <textarea rows="20" cols="80" id="market-input-text" class="textbox input-text" ng-model="inputs.market" ng-click="cleanInput('market')"></textarea>
    <div>
        <a href="#/market" class="input-button btn" id="process-market-input" ng-click="processMarketInput()">Kikafékoa au marché ? &gt;&gt;</a>
        <a class="input-button btn" id="load-market-data" ng-click="loadSampleData('market')">Charger les données de test</a>
    </div>
</div>
<div class="entry-input-zone bordered">
    <div class="input-title">Répartition des Esclaves</div>
    <textarea rows="20" cols="80" id="domain-input-text" class="textbox input-text" ng-model="inputs.domain" ng-click="cleanInput('domain')"></textarea>
    <div>
        <a href="#/domain" class="input-button btn" id="process-domain-input" ng-click="processDomainInput()">Kifékoa dans mon domaine ? &gt;&gt;</a>
        <a class="input-button btn" id="load-domain-data" ng-click="loadSampleData('domain')">Charger les données de test</a>
    </div>
</div>