#header {
    background: #000;
    margin: 0px;
    padding: 5px;
}

#header h1 {
    font-family: Arial;
    color: #d3d3d3;
    margin: 0px;
    font-size: 1.3em;
}

#header h3 {
    font-family: Arial;
    padding: 0px;
    margin: 2px;
    font-size: 0.9em;
    color: #666;
}

#header h1 a {
    color: #d3d3d3;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.back-link {
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.wide-chart {
    clear: both;
    width: 95%;
    float: left;
    height: 350px;
}

.pie-chart {
    width: 550px;
    height: 300px;
}

div .offer-names-list {
    float: left;
    padding-left: 20px;
}

.list-members, .offer-names-list-header {
    padding: 5px 15px;
}

.offer-names-list-header {
    font-weight: bold;
}

div .chart {
    float: left;
}

a.input-button {
    clear: both;
    width: 300px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}

.analysis-main-content, .analysis-sub-content {
    clear: both;
}

.analysis-main-content table {
    overflow-x: auto;
}

.analysis-sub-content {
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

textarea.input-text {
    width: 100%;
    float: left;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: LightBlue;
}

.entry-input-zone, .domain-migration-list {
    float: left;
    margin: 20px;
    padding: 30px;
}

.domain-top-buttons {
    float: left;
    margin: 15px;
    padding: 20px;
}

.bordered {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    margin: 15px;
}

div.entry-input-zone {
    border-radius: 25px;
    width: 27%;
}

.input-title {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 25px;
}

.sub-content-title {
    text-align: center;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 25px;
}

.market-items-list-holder, .main-market-charts {
    float: left;
    width: auto;
}

.market-items-list, .nobles-names-list {
    clear: both;
    padding: 10px 5px;
}

.active {
    background-color: Turquoise;
}

.category-label {
    font-style: italic;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}

.building-occupying {
    background-color: #90ee90;
    color: #006400;
    font-weight: bold;
}

.building-full {
    background-color: #d3d3d3;
    font-style: italic;
}

.locked-box {
    color:red;
    font-style: italic;
    font-weight: bold;
}


.building-can-occupy {
}

.slave-busy {
    background-color: #d3d3d3;
    font-style: italic;

}

.slave-free {
    font-weight: bold;
}

.activity-label {
    clear: both;
    font-size: x-small;
    font-style: italic;
    color: #9a9a9a;
}

.slave-box {
    padding-left: 15px;
    padding-right: 15px;
}

.slave-box, .value-box {
    white-space: nowrap;
}

.value-box {
    text-align: center;
}

.building-box {
    white-space: nowrap;
}

.building-score-box {
    white-space: nowrap;
}

.building-line:hover {
    background-color: #f5f5dc;
}

tr.domain-migration-item td {
    padding-left: 20px;
}

.slave-to-monolith {
    color: red;
}

.move-completed {
    text-decoration: line-through;
    color: #808080;
    font-style: italic;

}

.error {
    color: red;
    font-weight: bold;
}

.hover-only-content {
    display: none;
}

.hoverable-content:hover .hover-only-content {
    display: block;
}

.one-liner {
    float: left;
}

/*
.ui-scrollfix {
    position: fixed;
    top: 0px;
}
*/
